.App {
  width: 100%;
  text-align: center;
}



.overview h1
{
  text-align: start;
  margin-left: 25%;
  margin-top: 14%;
  color: red;
  font-size: 3rem;
  font-weight: bold;
}

.overview p
{
  font-size: 2rem;
  font-weight: bold;
}

.overview button
{
  margin-left: 20%;
  padding: 1% 2%;
  color: white;
  background-color: red;
  border: none;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
}

.todo-main
{
  margin: 5% 25%;
  border: solid red 1px;
  box-shadow: 0px 0px 3px 3p;
}

.todo-input
{
  background-color: red;
  padding: 2%;
  color: white;
}

.todo-input input
{
  width: 50%;
  margin: 0 2%;
  border-radius: 40px;
  padding: 2% 4%;
  outline: none;
  border: solid white 2px;
}

.todo-input button
{
  padding: 2% 4%;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  background-color: white;
  color: red;
  font-weight: bold;
}

.todo-card
{
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
}

.todo-card .complete button
{
  background-image: url(/src/Images/nt.png);
  background-size: cover;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  border: none;
}

.todo-card .complete button:focus
{
  background-image: url(/src/Images/cmpt.png);
}
